<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sgtmelon.adapterexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdapterExample"
        tools:ignore="AllowBackup">

        <activity
            android:name="sgtmelon.adapterexample.screen.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="sgtmelon.adapterexample.cleanup.screen.SimpleActivity"
            android:parentActivityName="sgtmelon.adapterexample.screen.MenuActivity" />

        <activity
            android:name="sgtmelon.adapterexample.cleanup.screen.DiffActivity"
            android:parentActivityName="sgtmelon.adapterexample.screen.MenuActivity" />

    </application>

</manifest>